@charset "UTF-8";
	#login_main_size{
	margin-top:64px;
	margin-bottom: 240px;
	}
	#login_main_size .login_boxsize{
	width:332px; 
	height:430px; 
	margin: 0 auto; 
	border: 1px solid #e9ecef; 
	padding: 0 48px; 
	border-radius: 2px; 
	text-align: center;
	}
	#login_main_size .img_style_01{
	padding-top:48px; 
	width:56px; 
	height:56px;
	}
	#login_main_size .login_welcom{
	margin-top: 26px; 
	color: #343a40; 
	font-size: 28px; 
	font-weight: bold; 
	margin-bottom: 0;
	}
	#login_main_size .login_myrealtrip01{
	margin-top: 8px; 
	color: #666d75; 
	font-size: 16px; 
	font-weight: bold; 
	margin-bottom: 0px;
	}
	#login_main_size .login_button01{
	width: 100%; 
	border: 1px solid #f7e317; 
	background-color: #f7e317; 
	color: #381e1f; 
	font-weight: 600; 
	font-size: 16px;
	border-radius: 4px; 
	letter-spacing: -.2px;
	height: 48px; 
	padding-left: 32px;
	padding-right: 32px;
	}
	#login_main_size .img_style_02{
	float: left;
	width: 18px;
	height: 18px;
	margin-right: -43px;
	margin-left: 56px;
	margin-top: 2px;
	}
	#login_main_size .loginline{
	height: 18px;
    border: 0.5px solid #d8d8d8;
    border-top-width: 0;
    border-bottom-width: 0;
    margin-left: 10px;
	margin-right: 10px;
	float:left
	}
	#login_main_size .login_miniboxsize{
	width:333px; 
	height:20px;  
	margin-left:18px;
	}
	#login_main_size .button_style_02{
	float:left;
	display: flex; 
	background-color:white; 
	border:none;
	}
	#login_main_size .button_div01{
	margin-top: 2px;
	}
	#login_main_size .img_margin-size{
	margin-right: 6px;
	}
	#login_main_size .img_font_02{
	line-height: normal;
	color: #666d75; 
	font-size: 15px;
	font-weight: 600;
	letter-spacing: -.25px;
	}
	#login_main_size .login_font_03{
	color: #848c94;
	font-size: 14px;
	font-weight: 600;
	letter-spacing: -.23px;
	}
	#login_main_size .login_font_04{
	font-size: 14px;  
	color: #666d75; 
	text-decoration: underline!important;
	}
	




